/* style.css */
:root {
    --haupt-rot: #eb0909;
    --hintergrund-grau: #e4e0e0;
    --dunkel-grau: #333;
    --schriftfarbe: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--hintergrund-grau);
    padding-bottom: 150px;
}

.wappen {
    max-width: 100%;
}

header {
    background-color: var(--dunkel-grau);
    width: 100%;
    color: var(--schriftfarbe);
    padding: 1rem;
    text-align: center;

    h1 {
        margin: 5px;
        hyphens: auto;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    h2 {
        margin: 5px;
    }

    nav {
        ul {
            list-style-type: none;
            padding: 0;

            li {
                display: inline;
                margin: 0 10px;

                a {
                    color: var(--schriftfarbe);
                    text-decoration: none;
                    transition: color 0.3s, transform 0.3s;
                    display: inline-block; /* Notwendig für transform */

                    &:hover {
                        color: yellow;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

main {
    padding: 20px;
    text-align: center;
}

input[type="submit"] {
    margin-left: 10px;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--haupt-rot);
    color: var(--schriftfarbe);
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

footer {
    background-color: var(--dunkel-grau);
    color: var(--schriftfarbe);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    z-index: 999;

    a {
        color: var(--haupt-rot);
        text-decoration: none;

        svg {
            margin: 10px 5px;
            transition: fill 0.3s, transform 0.3s;
        }

        &:hover svg {
            fill: yellow;
            transform: scale(1.1);
        }
    }
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
}

.hidden {
    display: none;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;

    a:hover {
        color: yellow;
        transform: scale(1.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        min-width: 900px;

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    }
}

form {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    fieldset {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;

        legend {
            font-weight: bold;
            padding: 0 10px;
            color: var(--dunkel-grau);
        }
    }

    label {
        font-weight: bold;
        color: #555;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"],
    input[type="number"],
    input[type="url"],
    select,
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

@media (max-width: 325px) {
    h1 {
        display: none;
    }
}

.Formular {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.karten-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;

    p {
        text-align: center;
        margin-bottom: 15px;
        color: var(--dunkel-grau);
    }

    iframe {
        width: 100%;
        height: 400px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.bild-schuetzen {
    width: 40px;
}

audio {
    display: block;
    margin: 30px auto;
    width: 100%;
    max-width: 500px;
}